<div class="container">
  <h3 class="text-primary">Main App Component</h3>
</div>

<!-- <app-tester></app-tester> -->

<!-- ------------------------------ Bindings ------------------------------- -->
<!-- <test-string-interpolation-bind></test-string-interpolation-bind> -->
<!-- <test-property-bind></test-property-bind> -->
<!-- <test-event-bind></test-event-bind> -->
<!-- <test-two-way-bind></test-two-way-bind> -->

<!-- --------------- Structural Directives ---------------- -->
<!-- <test-ng-if></test-ng-if> -->
<!-- <test-ng-if-else></test-ng-if-else> -->

<!-- --------------- Attribute Directives ---------------- -->
<!-- <test-ng-style></test-ng-style> -->
<test-ng-class></test-ng-class>
